<a href="https://colab.research.google.com/github/sjha-798/defect-prediction-using-ann/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
!pip install SpeechRecognition

Requirement already satisfied: SpeechRecognition in /usr/local/lib/python3.6/dist-packages (3.8.1)

In [38]:
!pip install pydub

Requirement already satisfied: pydub in /usr/local/lib/python3.6/dist-packages (0.24.1)

In [39]:
import speech_recognition as sr 
  
AUDIO_FILE = ("Welcome.wav") 
  
# use the audio file as the audio source 
  
r = sr.Recognizer() 
file = open("audio.txt","w+") 
with sr.AudioFile(AUDIO_FILE) as source: 
    audio = r.record(source)   
  
try:
    file.write(r.recognize_google(audio))
  
except sr.UnknownValueError: 
    print("Google Speech Recognition could not understand audio") 
  
except sr.RequestError as e: 
    print("Could not request results from Google Speech Recognition service; {0}".format(e))

In [48]:
import matplotlib.pyplot as plt
%matplotlib inline  
import nltk
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer, PorterStemmer
from wordcloud import WordCloud, STOPWORDS
from textblob import TextBlob

In [103]:
import pandas as pd

read_file = pd.read_csv (r'audio.txt', header = None)
read_file.columns = ['audio to text']
read_file.to_csv ('audio.csv', index=None)

In [104]:
score = pd.read_csv("audio.csv")

In [105]:
score.head()

                                       audio to text
0  thank you for choosing the Olympus dictation m...

In [106]:
df = pd.DataFrame(score)

In [107]:
df['audio to text'] = df['audio to text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [108]:
df

                                       audio to text
0  thank you for choosing the olympus dictation m...

In [109]:
df['audio to text'] = df['audio to text'].str.replace('[^\w\s]','')

In [113]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [114]:

stop = stopwords.words('english')

df['audio to text'] = df['audio to text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [115]:
df

                                       audio to text
0  thank choosing olympus dictation management sy...

In [83]:
def senti(x):
    return TextBlob(x).sentiment  
 
df['senti_score'] = df[1].apply(senti)
 
df.senti_score.head()

Series([], Name: senti_score, dtype: object)

In [116]:
st = PorterStemmer()
df['audio to text'] = df['audio to text'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

In [117]:
df

                                       audio to text
0  thank choos olympu dictat manag system olympu ...

In [118]:
def senti(x):
    return TextBlob(x).sentiment  
 
df['senti_score'] = df['audio to text'].apply(senti)
 
df.senti_score.head()

0    (0.4, 0.5)
Name: senti_score, dtype: object